/* ===== Body & Fonts ===== */
body {
    font-family: Arial, sans-serif;
}

/* ===== Navbar ===== */
.navbar-brand {
    font-size: 1.8rem;
}

.nav-link.active {
    font-weight: bold;
}

/* ===== Cards Hover Effect ===== */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* ===== Sections Spacing ===== */
section {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* ===== Buttons ===== */
.btn-success {
    background-color: #198754;
    border-color: #198754;
}

.btn-success:hover {
    background-color: #157347;
    border-color: #157347;
}

/* ===== Footer ===== */
footer {
    font-size: 0.9rem;
}
img {
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 100%;
  height: 400px;      
  object-fit: cover
}
.card-img-top {
  height: 220px;
  object-fit: contain;   /* poori image dikhegi */
  background-color: #f8f9fa;
}

